.m-container {
  width: 100%;
  background-image: url(/img/bg/image3.jpg);
  border: 1px black solid;
}
.m-container .main-class {
  padding: 50px 10px;
  border: 1px black solid;
  height: 100%;
}
.m-container .devi {
  width: 18px;
  height: 6px;
  border: 1px black solid;
}