/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body * {
  font-size: 14px;
  line-height: 24px;
  font-family: Montserrat, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(31, 32, 65, 0.75);
}

.h-container,
.f-container {
  width: 100%;
  box-shadow: 0 0 15px rgba(140, 164, 250, 0.2);
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* .header-class__navbar{
    display: inline-flex;
}
.header-class__logo{
    display: inline-flex;
} */
.header-class__navbar__menu li {
  display: inline-block;
  padding: 0 0.5rem;
}
.fwb a {
  font-weight: 700;
  color: rgba(31, 32, 65, 1);
}
h1 {
  font-weight: 700;
  color: rgba(31, 32, 65, 1);
  font-size: 24px;
  line-height: 32px;
}
h2 {
  font-weight: 700;
  color: rgba(31, 32, 65, 1);
  font-size: 16px;
}
h3 {
  font-weight: 700;
  color: rgba(31, 32, 65, 1);
  text-transform: uppercase;
}
button {
  border-radius: 22px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 700;
  padding: 3px;
  background: linear-gradient(to top, rgb(140, 164, 250) 0%, #bc9cff 50%);
}
button div {
  font-size: 12px;
}
button:active {
  background: linear-gradient(to top, rgba(140, 164, 250, 0.7) 0%, #bc9cffc1 50%);  
}
.log-button {
  background: #fff;
  padding: 2px 21px;
  color: #bc9cff;
  border-radius: 22px;
  /*  stroke: linear-gradient(to top, rgb(140, 164, 250) 0%, #BC9CFF 50%);
    stroke-width: 2px; */
}
.all-button {
  color: #fff;
  padding: 2px 21px;
}

.f-container {
  /* position: absolute;
    bottom: 0;
    */
  padding-top: 100px;
}

.footer-class {
  display: flex;
  width: 100%;
  padding: 10px;
}

.footer-class__list {
  flex-basis: 20%;
  padding-bottom: 50px;
}

.footer-class__list li {
  padding-bottom: 14px;
}

.subs {
  display: flex;
  width: 100%;
  padding: 20px 10px;
  justify-content: space-between;

  border-top: 1px solid rgba(87, 87, 111, 0.5);
}
.subs__social figure {
  display: inline-block;
  background: linear-gradient(to top, rgb(140, 164, 250) 0%, #bc9cff 50%);
  border-radius: 5px;
}

.m-container {
  width: 100%;
  min-height: 830px;
  padding: 10px 0px;
  background-image: url(/img/bg/image3.jpg);
  background-position: center;
  background-size: cover;
  /* border: 1px black solid; */
  position: relative;
}
.main-class {
  padding: 50px 10px;
  /* border: 1px black solid; */
  height: 100%;
}
.devi {
  position: absolute;
  bottom: 2%;
  right: 13vw;
  text-align: right;
  width: 297px;
  height: 48px;
}

.window {
  padding: 30px 25px;
  width: 380px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.window__date {
  display: inline-flex;
  width: 100%;
}
.window__date__inc {
  flex-basis: 50%;
}
.window__date__out {
  flex-basis: 50%;
}
.window__guests {
  flex-basis: 100%;
}
.get-number {
  flex-basis: 100%;
}
.arrow-button::after{
    content: "";
    position: absolute;
  }
.drop_date{
    width: fit-content;
    padding: 7px;    
    border: 1px solid  rgba(87, 87, 111, 0.5);
}
